<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0)">Parent-Child</a>
  </div>
</nav>
<div class="container">
  <app-child class="row" (childData)="getChildData($event)"></app-child>

  <div *ngIf="dataFromChild" class="col-md-6">
    <br /><br />
    <h4>Data From Child</h4>
     <br />
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Data From Child</h5><hr />
        <p class="card-text">User Name: {{dataFromChild.username}}</p>
        <p class="card-text">User Email: {{dataFromChild.useremail}}</p>
      </div>
    </div>
  </div>

</div>
