<div class="col-md-6">
  <br />
  <h4>Child Component</h4>
  <form #userForm="ngForm">
   <div class="form-group">
     <label for="exampleInputName">Name</label>
     <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name" ngModel name="username">
   </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email"  ngModel name="useremail">
    </div>
   <button type="button" class="btn btn-primary" (click)="submitForm(userForm.value)">Submit</button>
  </form>
</div>
